.DS_Store
.git/
.github/
.gitignore
.gitmodules
.clang-*
.cmake-format

.vscode/

patches/
pkgconfig/
scripts/
test*/
build/
ci/
example*/

xpacks/
node_modules/

*.tgz

README-*
LICENSE-*
CONTRIBUTING**

lib/

bazel/
docs/
